doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')

		script(src='//code.jquery.com/jquery-1.11.0.min.js')
		script(src='/javascripts/main.js')
		script(src='/javascripts/konami.js')

	body(class="#{current}")
		block content
